@model LoginViewModel
@{
	ViewData["Title"] = "Login";
}

<section class = "body">
<article>
  <section class = "left-trim"></section>
  <section class = "main">

    <div class = "row">
      <div class = "centered-panel">
        <a href = "#forgot-my-password">forgot your password?</a>
        <a href = "/register">register</a>
      </div>

      <form asp-controller="login" asp-action="" method="post" class="needs-validation" novalidate>
        <h2>Login</h2>
        <p style="color:red;">@Model?.ErrorMessage</p>
        <div class="form-group rows">
          <label asp-for="LoginName"></label>
          <input class="form-control" asp-for="LoginName" />
          <span asp-validation-for="LoginName"></span>
        </div>
        <div class="form-group rows">
          <label asp-for="Password"></label>
          <input class="form-control" asp-for="Password" />
          <span asp-validation-for="Password"></span>
         </div>

         <button type="submit" class="btn btn-primary cta">Login</button>
      </form>
    </div>
  </section>
</article>
</section>

@section scripts
{
<partial name="_ValidationScriptsPartial" />
}
