@model SettingsViewModel
@{
    ViewData["Title"] = "Update Settings";
}

<h1>Update My Settings</h1>

@if(!string.IsNullOrEmpty(Model?.ErrorMessage))
{
    <h2 style="color: red;">@Model.ErrorMessage</h2>
}

@if(!string.IsNullOrEmpty(Model?.SuccessMessage))
{
    <h2 style="color: green;">@Model.SuccessMessage</h2>
}

<p><a asp-area="" asp-controller="changepassword" asp-action="">Change my password</a></p>

<form asp-controller="settings" asp-action="Index" method="post" class="needs-validation" novalidate>
  <div class="form-group">
    <label asp-for="UserName"></label>
    <input class="form-control" asp-for="UserName" disabled="disabled" />
  </div>
  <div class="form-group">
    <label asp-for="DisplayName"></label>
    <input class="form-control" asp-for="DisplayName" />
    <span asp-validation-for="DisplayName"></span>
  </div>
  <div class="form-group">
    <label asp-for="Email"></label>
    <input class="form-control" asp-for="Email" />
    <span asp-validation-for="Email"></span>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>

<br />


@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}
