@using ON.SimpleWeb.Models.Subscription.Main
@inject ON.Settings.SettingsClient settingsClient;
@inject ON.Settings.SubscriptionTierHelper subTierHelper
@model IndexViewModel
@{
    ViewData["Title"] = "My Subscriptions";
    var subSet = settingsClient.PublicData?.Subscription;
}

<h1>My Subscriptions</h1>

@if (Model.IsSubscribed)
{
    <p>
        My subscription level: @(Model.SubscriptionLevelLabel)
    </p>
    <p>
        <a href="/subscription/@(Model.SubscriptionProvider)/cancel">Cancel my subscription</a>
    </p>
}
else
{
    <p>
        My subscription level: None
    </p>
    <p>
        Pick a payment level
    </p>
    <ul>
        @foreach (var level in subTierHelper.GetAll())
        {
            <li><a href="/subscription/new/@level.AmountCents">@level.Label</a></li>
        }
    </ul>
}