@model ManageViewModel
@{
    ViewData["Title"] = "Manage Articles";
}

<a href="/content/new" class="btn btn-primary">New Article</a>

<br />
<br />

<table class="table" style="color: white;">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th>Subscription</th>
        </tr>
    </thead>
    @foreach (var record in Model.Records)
    {
        <tr>
            <td>
                <a href="/content/@(record.ContentID)">@record.Title</a>
            </td>
            <td>@record.CreatedOnUTC.ToDateTime().ToLocalTime().ToString("yyyy-MM-dd h:mm tt")</td>
            <td>
                @if (record.PublishOnUTC != null)
                {
                    @if (User.IsInRole(ONUser.ROLE_OWNER) || User.IsInRole(ONUser.ROLE_ADMIN) || User.IsInRole(ONUser.ROLE_CONTENT_PUBLISHER))
                    {
                        <a href="/content/@(record.ContentID)/unpublish">Published</a>
                    }
                    else
                    {
                        <span>Published</span>
                    }
                }
                else
                {
                    @if (User.IsInRole(ONUser.ROLE_OWNER) || User.IsInRole(ONUser.ROLE_ADMIN) || User.IsInRole(ONUser.ROLE_CONTENT_PUBLISHER))
                    {
                        <a href="/content/@(record.ContentID)/publish">Not Published</a>
                    }
                    else
                    {
                        <span>Not Published</span>
                    }
                }
            </td>
            <td>@(CurrencyLevel.FromValue(record.SubscriptionLevel).Label)</td>
        </tr>

    }
</table>