@model NewViewModel
@{
    ViewData["Title"] = "New Article";
}

<h1>Create new article</h1>
<br />

@if (!string.IsNullOrEmpty(Model?.ErrorMessage))
{
    <h2 style="color: red;">@Model.ErrorMessage</h2>
}

@if (!string.IsNullOrEmpty(Model?.SuccessMessage))
{
    <h2 style="color: green;">@Model.SuccessMessage</h2>
}

<form method="post" class="needs-validation" novalidate>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Subtitle"></label>
        <input class="form-control" asp-for="Subtitle" />
        <span asp-validation-for="Subtitle"></span>
    </div>
    <div class="form-group">
        <label asp-for="Level"></label>
        <select class="form-control" asp-for="Level" asp-items="CurrencyLevel.SelectListItems">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Author"></label>
        <input class="form-control" asp-for="Author" />
        <span asp-validation-for="Author"></span>
    </div>

    <!-- Button trigger modal -->
    <div class="btn-group">
        <button type="button" class="btn btn-primary mr-1 ml-1" data-toggle="modal" data-target="#exampleModalCenter">
          Upload Video To Rumble
        </button>
        <button type="button" class="btn btn-primary mr-1 ml-1" data-toggle="modal" data-target="#linkVideoModal">
          Link A Video
        </button>
        <button type="button" class="btn btn-primary mr-1 ml-1" data-toggle="modal" data-target="#browseLinkedVideoModal">
          Browse Linked Videos
        </button>

    </div>

    <div class="form-group">
        <label asp-for="Body"></label>
        <textarea rows="5" class="form-control" id="HtmlBodyPart_Html" asp-for="Body"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:black;" id="exampleModalLongTitle">Upload to Rumble</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <ul>
              <li style="color:black;">1. Click <a href="https://www.rumble.com/upload.php" target="_blank" rel="noopener noreferrer">here</a></li>
              <li style="color:black;">2. Follow their upload instructions</li>
              <li style="color:black;">3. At the end, copy the embed code and paste in the article body</li>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="linkVideoModal" tabindex="-1" role="dialog" aria-labelledby="linkVideoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:black;" id="exampleModalLongTitle">Link A Video</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <ul>
              <li style="color:black;">1. Click <a href="https://www.rumble.com/upload.php" target="_blank" rel="noopener noreferrer">here</a></li>
              <li style="color:black;">2. Follow their upload instructions</li>
              <li style="color:black;">3. At the end, copy the embed code and paste in the article body</li>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="browseLinkedVideoModal" tabindex="-1" role="dialog" aria-labelledby="browseLinkedVideoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:black;" id="exampleModalLongTitle">Browse Linked Videos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <ul>
              <li style="color:black;">1. Click <a href="https://www.rumble.com/upload.php" target="_blank" rel="noopener noreferrer">here</a></li>
              <li style="color:black;">2. Follow their upload instructions</li>
              <li style="color:black;">3. At the end, copy the embed code and paste in the article body</li>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

@section head
{
    <link rel="stylesheet" href="/lib/trumbowyg/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="/lib/trumbowyg/plugins/colors/ui/trumbowyg.colors.min.css">
    <link rel="stylesheet" href="/lib/trumbowyg/plugins/emoji/ui/trumbowyg.emoji.min.css">
}

@section scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script src="//rawcdn.githack.com/RickStrahl/jquery-resizable/0.35/dist/jquery-resizable.min.js"></script>

    <script src="/lib/trumbowyg/trumbowyg.min.js"></script>
    <script src="/lib/trumbowyg/plugins/cleanpaste/trumbowyg.cleanpaste.min.js"></script>
    <script src="/lib/trumbowyg/plugins/colors/trumbowyg.colors.min.js"></script>
    <script src="/lib/trumbowyg/plugins/emoji/trumbowyg.emoji.min.js"></script>
    <script src="/lib/trumbowyg/plugins/fontfamily/trumbowyg.fontfamily.min.js"></script>
    <script src="/lib/trumbowyg/plugins/fontsize/trumbowyg.fontsize.min.js"></script>
    <script src="/lib/trumbowyg/plugins/pasteembed/trumbowyg.pasteembed.min.js"></script>
    <script src="/lib/trumbowyg/plugins/pasteimage/trumbowyg.pasteimage.min.js"></script>
    <script src="/lib/trumbowyg/plugins/resizimg/trumbowyg.resizimg.min.js"></script>

    <script type="text/javascript">
        $('#HtmlBodyPart_Html').trumbowyg({
            btns: [
                ['viewHTML'],
                ['undo', 'redo'], // Only supported in Blink browsers
                ['formatting'],
                ['strong', 'em', 'del'],
                ['fontfamily', 'fontsize', 'foreColor', 'backColor'],
                ['superscript', 'subscript'],
                ['link'],
                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                ['horizontalRule'],
                ['removeformat'],
                ['emoji'],
                ['fullscreen']
            ],
            tagsToRemove: ['script', 'link']
        });
    </script>

   
}