@model ON.SimpleWeb.Models.SiteSettings.IndexViewModel
@{
    ViewData["Title"] = "Update Site Settings";
}

<h1>Update Site Settings</h1>
<br />

@if (!string.IsNullOrEmpty(Model?.ErrorMessage))
{
    <h2 style="color: red;">@Model.ErrorMessage</h2>
}

@if (!string.IsNullOrEmpty(Model?.SuccessMessage))
{
    <h2 style="color: green;">@Model.SuccessMessage</h2>
}

<ul class="list-group">
    @await Html.PartialAsync("Personalization", Model)
    @await Html.PartialAsync("Subscription", Model)
</ul>

<br />

@*<p>
 <h4> -- or --</h4>
 <a class="btn btn-primary" asp-area="" asp-controller="changepassword" asp-action="">Change user's password</a>
</p>
*@
@section scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
