@model ON.SimpleWeb.Models.SiteSettings.IndexViewModel

<li class="list-group-item">
    <h2>Personalization</h2>

    <ul class="list-group">
        @await Html.PartialAsync("PersonalizationPublic", Model.Public.Personalization)
    </ul>
</li>