@using ON.Fragments.Settings
@model SubscriptionOwnerRecord

<li class="list-group-item">
    <h2>Owner Settings</h2>

    <ul class="list-group">
        @await Html.PartialAsync("SubscriptionOwnerPE", Model.ParallelEconomy ?? new())
        @await Html.PartialAsync("SubscriptionOwnerStripe", Model.Stripe ?? new())
        @await Html.PartialAsync("SubscriptionOwnerPaypal", Model.Paypal ?? new())
    </ul>
</li>