@using ON.Fragments.Authorization
@using ON.Fragments.Settings
@model SubscriptionPublicRecord

<li class="list-group-item">
    <h2>Public Settings</h2>
    @await Html.PartialAsync("SubscriptionTierAdd", new SubscriptionTier())

    <hr />
    <h4>Current Tiers</h4>
    <table>
        <tr>
            <th>Amount</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        @foreach (var tiers in Model.Tiers.OrderBy(t => t.AmountCents))
        {
            @await Html.PartialAsync("SubscriptionTier", tiers)
        }
    </table>

    <ul class="list-group">
        @await Html.PartialAsync("SubscriptionPublicFake", Model.Fake ?? new())
        @await Html.PartialAsync("SubscriptionPublicCrypto", Model.Crypto ?? new())
        @await Html.PartialAsync("SubscriptionPublicPE", Model.ParallelEconomy ?? new())
        @await Html.PartialAsync("SubscriptionPublicStripe", Model.Stripe ?? new())
        @await Html.PartialAsync("SubscriptionPublicPaypal", Model.Paypal ?? new())
    </ul>
</li>
