@model LoginViewModel
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
 <form method="post">
  <h2>
   <label asp-for="ErrorMessage" />
  </h2>
  <input asp-for="LoginName" />
  <input asp-for="Password" />
  <input type="submit" />
 </form>
</div>
