@model SettingsViewModel
@{
    ViewData["Title"] = "Update Settings";
}

<h1>Update My Settings</h1>
<br />

@if(!string.IsNullOrEmpty(Model?.ErrorMessage))
{
    <h2 style="color: red;">@Model.ErrorMessage</h2>
}

@if(!string.IsNullOrEmpty(Model?.SuccessMessage))
{
    <h2 style="color: green;">@Model.SuccessMessage</h2>
}

<form asp-controller="Settings" asp-action="Index" method="post" class="needs-validation" novalidate>
  <div class="form-group">
    <label asp-for="UserName"></label>
    <input class="form-control" asp-for="UserName" disabled="disabled" />
  </div>
  <div class="form-group">
    <label asp-for="DisplayName"></label>
    <input class="form-control" asp-for="DisplayName" />
    <span asp-validation-for="DisplayName"></span>
  </div>
  <div class="form-group">
    <label asp-for="Email"></label>
    <input class="form-control" asp-for="Email" />
    <span asp-validation-for="Email"></span>
  </div>
  <div class="form-group">
    <label asp-for="Password"></label>
    <input class="form-control" asp-for="Password" />
    <span asp-validation-for="Password"></span>
  </div>
  <div class="form-group">
    <label asp-for="ConfirmPassword"></label>
    <input class="form-control" asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword"></span>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>

<br />

<p>
 <h4> -- or --</h4>
 <a class="btn btn-primary" asp-area="" asp-controller="ChangePassword" asp-action="">Change my password</a>
</p>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}
