@model HomeViewModel
@{
    ViewData["Title"] = "My Subscriptions";
}

<h1>My Subscriptions</h1>

<p>
    My subscription level: None
</p>
<p>
    <a href="/subscription/change">Change my subscription</a>
</p>