@using ON.SimpleWeb.Models.Subscription.Main
@inject ON.SimpleWeb.Helper.HtmlSubscriptionTierHelper subHelper;
@model ON.SimpleWeb.Models.CMS.ManageViewModel
@using userHelper = ON.Authentication.ONUserHelper;
@{
    ViewData["Title"] = "Manage Articles";
}

<a href="/content/written/new" class="btn btn-primary">New Article</a>
<br />
<a href="/content/video/new" class="btn btn-primary">New Video</a>

<br />
<br />

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th>Subscription</th>
        </tr>
    </thead>
    @foreach (var record in Model.Records)
    {
        <tr>
            <td>
                <a href="/content/@(record.ContentID)">@record.Title</a>
            </td>
            <td>@record.CreatedOnUTC.ToDateTime().ToLocalTime().ToString("yyyy-MM-dd h:mm tt")</td>
            <td>
                @if (record.PublishOnUTC != null)
                {
                    @if (userHelper.MyUser.CanPublish)
                    {
                        <a href="/content/@(record.ContentID)/unpublish">Published</a>
                    }
                    else
                    {
                        <span>Published</span>
                    }
                }
                else
                {
                    @if (userHelper.MyUser.CanPublish)
                    {
                        <a href="/content/@(record.ContentID)/publish">Not Published</a>
                    }
                    else
                    {
                        <span>Not Published</span>
                    }
                }
            </td>
            <td>@((await subHelper.FromAmount(record.SubscriptionLevel)).Label)</td>
        </tr>

    }
</table>