@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<div>
    <h1>@ON.SiteConfig.WebsiteDesc</h1>
</div>

@foreach (var record in Model.Records)
{
    <i>@record.CreatedOnUTC.ToDateTime().ToLocalTime().ToString("yyyy-MM-dd h:mm tt")</i>
    <h3>
        <a href="/content/@(record.ContentID)">@record.Title</a>
        @if (record.SubscriptionLevel > 0 && Model.ShowLockStatus)
        {
            if (record.SubscriptionLevel > Model.UserSubscriptionLevel)
            {
                <i class="bi-lock-fill" style="font-size: 1rem; color: cornflowerblue;" aria-label="Locked"></i>
            } else {
                <i class="bi-unlock-fill" style="font-size: 1rem; color: cornflowerblue;" aria-label="UnLocked"></i>
            }
        }
    </h3>
    <pre>@record.Subtitle</pre>
}